body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("heart-bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Pixelify Sans", sans-serif;
}

/* Envelope Screen */
#envelope-container {
    text-align: center;
    cursor:pointer;
}

@keyframes pulse {
    0% { transform:scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#envelope{
    width: 180px;
    animation: pulse 1.5s infinite;
    cursor: pointer;
}

/* Letter container */
#letter-container{
    display: none;
    position:fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
}

/* Window */
.letter-window{
    width: 90vw;
    max-width: 800px;
    aspect-ratio: 3/2;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    gap: 10px;

    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

/* Text */
h1 {
    font-size: clamp(20px, 3vw, 30px);
    margin:0;
}

p {
    font-size: 22px;
}

/* Cat */
.cat {
    width: 200px;
    transition: width 0.4s ease;
}

.letter-window.final .cat {
    width: 160px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    width: 100px;
    cursor: pointer;
}

.final-text{
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(255,240,240,0.7);
    border-radius: 12px;
}

/* Mobile fix */
@media (max-width: 600px) {
    .cat { width: 150px; }
    .btn { width: 80px; }
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
